# Data Science Tools and Ecosystem

## Author
Shijun

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- create a notebook
- list popular languages for data science
- list open source tools for data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA

Some of the commomly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

|Data Science Tools|
|------------------|
|IBM Watson Studio|
|Google Colab|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simplearithmetric expression to multiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
x=200
y=x/60
print(x, "minutes is converted to", y, "hours")

200 minutes is converted to 3.3333333333333335 hours